---
layout: default
title: "A–Z"
sitemap: false
permalink: /categories/
---
<div class="tags">
  <div class="tags-header">
    <h2 class="tags-header-title">{{ page.title }}</h2>
    <div class="tags-header-line"></div>
  </div>
  <div class="tags-clouds">
    {% assign categories = site.categories | sort %}
    {% for category in categories %}
    <span class="site-tag">
      <a href="#{{ category | first | slugify }}">
        {{ category[0] | replace:'-', ' ' }} ({{ category | last | size }})
      </a>
    </span>
    {% endfor %}
  </div>
  <div class="tags-item">
    {% for category in categories %}
    <a name="{{ category[0] }}"></a>
    <h2>{{ category[0] | replace:'-', ' ' }} ({{ category | last | size }})</h2>
    {% assign sorted_posts = site.posts | sort: 'title' %}
    {% for post in sorted_posts %}
    {%if post.categories contains category[0]%}
    <a class="tags-post" href="{{ site.url }}{{ site.baseurl }}{{ post.url }}" title="{{ post.title }}">
      <div>
        <span class="tags-post-title">{{ post.title }}</span>
        <div class="tags-post-line"></div>
      </div>
      <span class="tags-post-meta">
        <time datetime="{{ post.date }}">
          {{ post.date | date:"%Y-%m-%d" }}
        </time>
      </span>
    </a>
    {%endif%}
    {% endfor %}
    {% endfor %}
  </div>
</div>