---
layout: default
title: "A–Z"
sitemap: false
permalink: /categories/
---

<div class="tags">
  <div class="tags-header">
    <h2 class="tags-header-title">{{ page.title }}</h2>
    <div class="tags-header-line"></div>
  </div>
  <div class="tags-clouds categories">
    {% assign categories = site.categories | sort %}
    {% for category in categories %}
    <span class="site-tag">
      <a href="#{{ category | first | slugify }}">
        {{ category[0] | capitalize }}
      </a>
    </span>
    {% endfor %}
  </div>
  <div class="tags-item">
    {% assign sorted_cats = site.categories | sort %}
    {% for category in sorted_cats %}
    {% assign sorted_posts = category[1] | sort: 'title' %}
    <h2 id="{{category[0] | downcase }}">{{category[0] | capitalize }} ({{ category | last | size }})</h2>
    {% for post in sorted_posts %}
    <a class="tags-post" href="{{ site.url }}{{ site.baseurl }}{{ post.url }}" title="{{ post.title }}">
      <div>
        <span class="tags-post-title">{{ post.title }}</span>
        <div class="tags-post-line"></div>
      </div>
      <span class="tags-post-meta">
        <time datetime="{{ post.date }}">
          {{ post.date | date:"%Y-%m-%d" }}
        </time>
      </span>
    </a>
    {% endfor %}
  </div>
  {% endfor %}
</div>