---
layout: page
bodyClass: indice
title: "Сочинения"
author: "И. Постольный"
permalink: /indice/
exclude_banner: true
exclude_page_info: true
---

<div class="indice-section">
  {% for item in site.data.indice.libri %}
  <div class="section">
    <h2>{{ item.titolo }}</h2>
    <ul class="indice-list">
      {% for entry in item.subfolderitems %}
      <li>
        <a href="{{ entry.url }}">{{ entry.page }}</a>
      </li>
      {% endfor %}
    </ul>
  </div>
  {% endfor %}
</div>