.catalogue {
  &-item {
    color: $default-color;
    display: block;
    padding: 30px 0 40px 0;
    background: url(/assets/divider.png) repeat-x center bottom;

    &:last-child {
      background: none;
    }
  }

  &-pinned {
    color: $default-tint;
    font-family: $font-secondary;
    letter-spacing: 0.5px;
    font-size: 16px;
    background: url(/assets/pinned.png) no-repeat center left;
    padding-left: 20px;
    @media (max-width: 768px) {
      font-size: 14px;
    }
  }

  &-time {
    color: $default-tint;
    font-family: $font-secondary;
    letter-spacing: 0.5px;
    font-size: 16px;
    @media (max-width: 768px) {
      font-size: 14px;
    }
  }

  &-title {
    color: $default-shade;
    display: block;
    font-family: $font-headings;
    font-weight: 700;
    margin: 0.5rem 0;
    a {
      color: $default-shade;
      line-height: 1.2;
    }
  }
}