@font-face {
  font-family: 'PeterIvanowitsch';
  src: url('/fonts/PeterIvanowitsch.woff2') format('woff2'),
       url('/fonts/PeterIvanowitsch.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}