.page {
  padding: 3rem 0;

  &-info {
    color: $default-tint;
    font-family: $font-secondary;
    letter-spacing: 0.5px;
    text-align: center;
    font-size: 16px;
    @media (max-width: 768px) {
      font-size: 14px;
    }

    span {
      font-style: italic;
    }
  }

  &-title {
    color: $default-shade;
    font-family: $font-headings;
    text-align: center;
  }

  p {
    margin: 0 0 1rem;
  }

  img {
    margin: 1rem auto 0.5rem auto;
  
    &.border {
      padding: 5px;
      border: 5px solid $default-shade;
    }
  
    + em {
      color: $default-tint;
      display: block;
      font-family: $font-captions;
      font-style: normal;
      text-align: center;
      font-size: 16px;
      @media (max-width: 768px) {
        font-size: 14px;
      }
    }
  }  
}