@use 'variables' as v;
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-family: v.$font-primary;
  font-size: 14px;
  padding: 2rem 0;

  a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 10px 18px;
    font-weight: bold;
    border: 3px solid v.$default-shade;
    color: v.$white;
    background-color: v.$default-shade;
  }

  span {

    &.previous,
    &.next {
      padding: 10px 18px;
      font-weight: bold;
      border: 3px solid v.$default-shade;
      color: v.$default-shade;
      background-color: v.$white;
    }
  }
}

@media screen and (max-width: 768px) {
  .pagination {
    a {
      padding: 6px 12px;
    }

    span.previous {
      padding: 6px 12px;
    }

    span.next {
      padding: 6px 12px;
    }
  }
}