@use 'postolny/variables';

.pagination {
  font-family: variables.$serif-primary;
  font-size: 14px;
  padding-top: 2rem;
  position: relative;
  text-align: center;
  a {
    display: inline-block;
    padding: 10px 18px;
    margin: auto 5px;
    font-weight: bold;
    border: 3px solid variables.$default-shade;
    color: variables.$white;
    background-color: variables.$default-shade;
  }
  span.previous {
    display: inline-block;
    padding: 10px 18px;
    margin: auto 5px;
    font-weight: bold;
    border: 3px solid variables.$default-shade;
    color: variables.$default-shade;
    background-color: variables.$white;
  }
  span.next {
    display: inline-block;
    padding: 10px 18px;
    margin: auto 5px;
    font-weight: bold;
    border: 3px solid variables.$default-shade;
    color: variables.$default-shade;
    background-color: variables.$white;
  }
}

@media screen and (max-width: 768px) {
  .pagination {
    a {
      padding: 6px 12px;
    }
    span.previous {
      padding: 6px 12px;
    }
    span.next {
      padding: 6px 12px;
    }
    .page_number {
      display: none;
    }
  }
}