.post {
  padding: 3rem 0;

  &-info,
  .tags-title,
  .categories-title {
    color: $default-tint;
    font-family: $font-secondary;
    letter-spacing: 0.5px;
    text-align: center;
    font-size: 16px;
    @media (max-width: 768px) {
      font-size: 14px;
    }

    span {
      font-style: italic;
    }
  }

  .tags-clouds a,
  .categories-clouds a { 
    padding: 0.3rem 0.5rem;
  }

  .categories-clouds a {
    text-transform: uppercase;
  }

  .tags-container > div:first-child,
  .categories-container > div:first-child {
    margin-bottom: 4px;
    font-style: italic;
  }

  &-title {
    color: $default-shade;
    font-family: $font-headings;
    text-align: center;
  }

  p {
    margin: 0 0 1rem;
  }

  img {
    margin: 0 auto 0.5rem;
  
    &.border {
      padding: 5px;
      border: 5px solid $default-shade;
    }
  
    + em {
      color: $default-tint;
      display: block;
      font-family: $font-captions;
      font-style: normal;
      text-align: center;
      font-size: 16px;
      @media (max-width: 768px) {
        font-size: 14px;
      }
    }
  }  
}