// Colors
$default-color: #555 !default;
$default-shade: #353535 !default;
$default-tint: #aaa !default;
$grey-1: #979797 !default;
$grey-2: #ccc !default;
$grey-3: #e5e5e5 !default;
$grey-4: #eeeeee !default;
$lightGray: #c8c8c8 !default;
$charcoalGrey: #262626 !default;
$white: #fff !default;
$blue: #4788c7 !default;
$green: #03c03c !default;
$red: #ff0000 !default;
$hover-color: #00ff4d !default;
$shadow-color: rgba(0, 0, 0, .2) !default;
$code-color: #bf616a !default;

// Fonts
$serif-primary: Arial, Helvetica, sans-serif;
$serif-secondary: 'Times New Roman', 'Palatino Linotype', 'Book Antiqua', serif !default;
$sans-serif: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif !default;
$monospaced: Menlo, Monaco, monospace !default;

// Основные размеры заголовков
$font-size-h1: 3rem;   // 48px
$font-size-h2: 2.5rem; // 40px
$font-size-h3: 2rem;   // 32px
$font-size-h4: 1.75rem; // 28px
$font-size-h5: 1.5rem; // 24px
$font-size-h6: 1.25rem; // 20px

$font-size-h3-toc: 1.5rem; // Размер для h3 в TOC (24px)

// Размеры заголовков для мобильных устройств
$font-size-h1-mobile: 2.5rem;   // 40px
$font-size-h2-mobile: 2rem;      // 32px
$font-size-h3-mobile: 1.75rem;   // 28px
$font-size-h4-mobile: 1.5rem;    // 24px
$font-size-h5-mobile: 1.25rem;    // 20px
$font-size-h6-mobile: 1.125rem;   // 18px

// Высота строки для ПК
$line-height-h1: 1.2;
$line-height-h2: 1.3;
$line-height-h3: 1.4;
$line-height-h4: 1.4;
$line-height-h5: 1.5;
$line-height-h6: 1.5;

$line-height-h3-toc: 1.3; // Высота строки для h3 в TOC

// Высота строки для мобильных устройств
$line-height-h1-mobile: 1.3;
$line-height-h2-mobile: 1.4;
$line-height-h3-mobile: 1.4;
$line-height-h4-mobile: 1.5;
$line-height-h5-mobile: 1.5;
$line-height-h6-mobile: 1.5;

// Navigation
$content-width: 1000px;
$breakpoint: 799px;
$nav-height: 70px;
$nav-background: #262626;
$nav-font-color: #ffffff;
$link-hover-color: #03c03c;
