<ul id="accento">
  <li>Abitano<input type="text" pattern="^1$" /></li>
  <li>Agronomo<input type="text" pattern="^2$" /></li>
  <li>Albatro<input type="text" pattern="^1$" /></li>
  <li>Albero<input type="text" pattern="^1$" /></li>
  <li>Andandosene<input type="text" pattern="^2$" /></li>
  <li>Antilope<input type="text" pattern="^2$" /></li>
  <li>Arbitro<input type="text" pattern="^1$" /></li>
  <li>Artefici<input type="text" pattern="^2$" /></li>
  <li>Asino<input type="text" pattern="^1$" /></li>
  <li>Astice<input type="text" pattern="^1$" /></li>
  <li>Austriaco<input type="text" pattern="^2$" /></li>
  <li>Avventura<input type="text" pattern="^3$" /></li>
  <li>Balenottera<input type="text" pattern="^3$" /></li>
  <li>Battesimo<input type="text" pattern="^2$" /></li>
  <li>Bergamo<input type="text" pattern="^1$" /></li>
  <li>Bufalo<input type="text" pattern="^1$" /></li>
  <li>Cagliari<input type="text" pattern="^1$" /></li>
  <li>Caimano<input type="text" pattern="^2$" /></li>
  <li>Calcolano<input type="text" pattern="^1$" /></li>
  <li>Campanello<input type="text" pattern="^3$" /></li>
  <li>Capperi<input type="text" pattern="^1$" /></li>
  <li>Categoria<input type="text" pattern="^4$" /></li>
  <li>Cavalleria<input type="text" pattern="^4$" /></li>
  <li>Cedere<input type="text" pattern="^1$" /></li>
  <li>Cestola<input type="text" pattern="^1$" /></li>
  <li>Chiocciola<input type="text" pattern="^1$" /></li>
  <li>Cocomero<input type="text" pattern="^2$" /></li>
  <li>Collegio<input type="text" pattern="^2$" /></li>
  <li>Corbello<input type="text" pattern="^2$" /></li>
  <li>Domodossola<input type="text" pattern="^3$" /></li>
  <li>Elica<input type="text" pattern="^1$" /></li>
  <li>Esercito<input type="text" pattern="^2$" /></li>
  <li>Etimologia<input type="text" pattern="^5$" /></li>
  <li>Etimologico<input type="text" pattern="^4$" /></li>
  <li>Etimologo<input type="text" pattern="^3$" /></li>
  <li>Fauno<input type="text" pattern="^1$" /></li>
  <li>Gemito<input type="text" pattern="^1$" /></li>
  <li>Genova<input type="text" pattern="^1$" /></li>
  <li>Geografo<input type="text" pattern="^2$" /></li>
  <li>Geroglifico<input type="text" pattern="^3$" /></li>
  <li>Glicine<input type="text" pattern="^1$" /></li>
  <li>Gomitolo<input type="text" pattern="^2$" /></li>
  <li>Gondola<input type="text" pattern="^1$" /></li>
  <li>Invidia<input type="text" pattern="^2$" /></li>
  <li>Isola<input type="text" pattern="^1$" /></li>
  <li>Laura<input type="text" pattern="^1$" /></li>
  <li>Libertà<input type="text" pattern="^3$" /></li>
  <li>Lombardia<input type="text" pattern="^3$" /></li>
  <li>Macchina<input type="text" pattern="^1$" /></li>
  <li>Malattia<input type="text" pattern="^3$" /></li>
  <li>Mandibola<input type="text" pattern="^2$" /></li>
  <li>Metatesi<input type="text" pattern="^2$" /></li>
  <li>Microbo<input type="text" pattern="^1$" /></li>
  <li>Ovile<input type="text" pattern="^2$" /></li>
  <li>Parroco<input type="text" pattern="^1$" /></li>
  <li>Perdinci<input type="text" pattern="^2$" /></li>
  <li>Poesia<input type="text" pattern="^3$" /></li>
  <li>Polifonia<input type="text" pattern="^4$" /></li>
  <li>Portamene<input type="text" pattern="^1$" /></li>
  <li>Proboscide<input type="text" pattern="^2$" /></li>
  <li>Prozia<input type="text" pattern="^2$" /></li>
  <li>Quadrupede<input type="text" pattern="^2$" /></li>
  <li>Radice<input type="text" pattern="^2$" /></li>
  <li>Remoto<input type="text" pattern="^2$" /></li>
  <li>Ruscello<input type="text" pattern="^2$" /></li>
  <li>Sassari<input type="text" pattern="^1$" /></li>
  <li>Scaldamene<input type="text" pattern="^1$" /></li>
  <li>Scandalo<input type="text" pattern="^1$" /></li>
  <li>Sciabola<input type="text" pattern="^1$" /></li>
  <li>Secchia<input type="text" pattern="^1$" /></li>
  <li>Secoli<input type="text" pattern="^1$" /></li>
  <li>Sincope<input type="text" pattern="^1$" /></li>
  <li>Suffisso<input type="text" pattern="^2$" /></li>
  <li>Susina<input type="text" pattern="^2$" /></li>
  <li>Telefonamelo<input type="text" pattern="^2$" /></li>
  <li>Tipico<input type="text" pattern="^1$" /></li>
  <li>Trasporto<input type="text" pattern="^2$" /></li>
  <li>Università<input type="text" pattern="^5$" /></li>
  <li>Upupa<input type="text" pattern="^1$" /></li>
  <li>Vicolo<input type="text" pattern="^1$" /></li>
  <li>Virtù<input type="text" pattern="^2$" /></li>
  <li>Zagarolo<input type="text" pattern="^3$" /></li>
  <li>Zattera<input type="text" pattern="^1$" /></li>
</ul>
<div id="acc_dacapo">Попробовать снова</div>