<ul id="accento">
  <li>abitano<input type="text" pattern="^1$" /></li>
  <li>agronomo<input type="text" pattern="^2$" /></li>
  <li>albatro<input type="text" pattern="^1$" /></li>
  <li>albero<input type="text" pattern="^1$" /></li>
  <li>andandosene<input type="text" pattern="^2$" /></li>
  <li>antilope<input type="text" pattern="^2$" /></li>
  <li>arbitro<input type="text" pattern="^1$" /></li>
  <li>artefici<input type="text" pattern="^2$" /></li>
  <li>asino<input type="text" pattern="^1$" /></li>
  <li>asparago<input type="text" pattern="^2$" /></li>
  <li>astice<input type="text" pattern="^1$" /></li>
  <li>austriaco<input type="text" pattern="^2$" /></li>
  <li>avventura<input type="text" pattern="^3$" /></li>
  <li>balenottera<input type="text" pattern="^3$" /></li>
  <li>balsamo<input type="text" pattern="^1$" /></li>
  <li>battesimo<input type="text" pattern="^2$" /></li>
  <li>Bergamo<input type="text" pattern="^1$" /></li>
  <li>bibita<input type="text" pattern="^1$" /></li>
  <li>biografia<input type="text" pattern="^4$" /></li>
  <li>brindisi<input type="text" pattern="^1$" /></li>
  <li>bufalo<input type="text" pattern="^1$" /></li>
  <li>burocrazia<input type="text" pattern="^4$" /></li>
  <li>Cagliari<input type="text" pattern="^1$" /></li>
  <li>caimano<input type="text" pattern="^2$" /></li>
  <li>calcolano<input type="text" pattern="^1$" /></li>
  <li>campanello<input type="text" pattern="^3$" /></li>
  <li>capperi<input type="text" pattern="^1$" /></li>
  <li>categoria<input type="text" pattern="^4$" /></li>
  <li>cavalleria<input type="text" pattern="^4$" /></li>
  <li>cedere<input type="text" pattern="^1$" /></li>
  <li>cestola<input type="text" pattern="^1$" /></li>
  <li>chiocciola<input type="text" pattern="^1$" /></li>
  <li>cocomero<input type="text" pattern="^2$" /></li>
  <li>collegio<input type="text" pattern="^2$" /></li>
  <li>comodo<input type="text" pattern="^1$" /></li>
  <li>Domodossola<input type="text" pattern="^3$" /></li>
  <li>copula<input type="text" pattern="^1$" /></li>
  <li>corbello<input type="text" pattern="^2$" /></li>
  <li>cospicui<input type="text" pattern="^2$" /></li>
  <li>economia<input type="text" pattern="^4$" /></li>
  <li>elica<input type="text" pattern="^1$" /></li>
  <li>equivoco<input type="text" pattern="^2$" /></li>
  <li>esercito<input type="text" pattern="^2$" /></li>
  <li>etimologia<input type="text" pattern="^5$" /></li>
  <li>etimologico<input type="text" pattern="^4$" /></li>
  <li>etimologo<input type="text" pattern="^3$" /></li>
  <li>farmaco<input type="text" pattern="^1$" /></li>
  <li>fauno<input type="text" pattern="^1$" /></li>
  <li>fegato<input type="text" pattern="^1$" /></li>
  <li>filantropo<input type="text" pattern="^2$" /></li>
  <li>fotografia<input type="text" pattern="^4$" /></li>
  <li>gemito<input type="text" pattern="^1$" /></li>
  <li>Genova<input type="text" pattern="^1$" /></li>
  <li>geografo<input type="text" pattern="^2$" /></li>
  <li>geroglifico<input type="text" pattern="^3$" /></li>
  <li>glicine<input type="text" pattern="^1$" /></li>
  <li>gomitolo<input type="text" pattern="^2$" /></li>
  <li>gondola<input type="text" pattern="^1$" /></li>
  <li>industria<input type="text" pattern="^2$" /></li>
  <li>intero<input type="text" pattern="^2$" /></li>
  <li>invidia<input type="text" pattern="^2$" /></li>
  <li>isola<input type="text" pattern="^1$" /></li>
  <li>Laura<input type="text" pattern="^1$" /></li>
  <li>leggero<input type="text" pattern="^2$" /></li>
  <li>libertà<input type="text" pattern="^3$" /></li>
  <li>litigano<input type="text" pattern="^1$" /></li>
  <li>Lombardia<input type="text" pattern="^3$" /></li>
  <li>macchina<input type="text" pattern="^1$" /></li>
  <li>malattia<input type="text" pattern="^3$" /></li>
  <li>mandibola<input type="text" pattern="^2$" /></li>
  <li>melodia<input type="text" pattern="^3$" /></li>
  <li>metamorfosi<input type="text" pattern="^3$" /></li>
  <li>metatesi<input type="text" pattern="^2$" /></li>
  <li>microbo<input type="text" pattern="^1$" /></li>
  <li>mignolo<input type="text" pattern="^1$" /></li>
  <li>monologo<input type="text" pattern="^2$" /></li>
  <li>monopattino<input type="text" pattern="^3$" /></li>
  <li>monotono<input type="text" pattern="^2$" /></li>
  <li>occupa<input type="text" pattern="^1$" /></li>
  <li>ovile<input type="text" pattern="^2$" /></li>
  <li>parentesi<input type="text" pattern="^2$" /></li>
  <li>parroco<input type="text" pattern="^1$" /></li>
  <li>pendio<input type="text" pattern="^2$" /></li>
  <li>perdinci<input type="text" pattern="^2$" /></li>
  <li>pettine<input type="text" pattern="^1$" /></li>
  <li>poesia<input type="text" pattern="^3$" /></li>
  <li>polifonia<input type="text" pattern="^4$" /></li>
  <li>portamene<input type="text" pattern="^1$" /></li>
  <li>proboscide<input type="text" pattern="^2$" /></li>
  <li>prozia<input type="text" pattern="^2$" /></li>
  <li>psicologo<input type="text" pattern="^2$" /></li>
  <li>pulizia<input type="text" pattern="^3$" /></li>
  <li>quadrupede<input type="text" pattern="^2$" /></li>
  <li>radice<input type="text" pattern="^2$" /></li>
  <li>remoto<input type="text" pattern="^2$" /></li>
  <li>ruscello<input type="text" pattern="^2$" /></li>
  <li>Sassari<input type="text" pattern="^1$" /></li>
  <li>scaldamene<input type="text" pattern="^1$" /></li>
  <li>scandalo<input type="text" pattern="^1$" /></li>
  <li>sciabola<input type="text" pattern="^1$" /></li>
  <li>sciacquio<input type="text" pattern="^2$" /></li>
  <li>scrivania<input type="text" pattern="^3$" /></li>
  <li>secchia<input type="text" pattern="^1$" /></li>
  <li>secoli<input type="text" pattern="^1$" /></li>
  <li>semaforo<input type="text" pattern="^2$" /></li>
  <li>sincope<input type="text" pattern="^1$" /></li>
  <li>sindaco<input type="text" pattern="^1$" /></li>
  <li>soffice<input type="text" pattern="^1$" /></li>
  <li>spazzola<input type="text" pattern="^1$" /></li>
  <li>suffisso<input type="text" pattern="^2$" /></li>
  <li>susina<input type="text" pattern="^2$" /></li>
  <li>tanica<input type="text" pattern="^1$" /></li>
  <li>taxi<input type="text" pattern="^1$" /></li>
  <li>telefonamelo<input type="text" pattern="^2$" /></li>
  <li>tipico<input type="text" pattern="^1$" /></li>
  <li>trasporto<input type="text" pattern="^2$" /></li>
  <li>università<input type="text" pattern="^5$" /></li>
  <li>upupa<input type="text" pattern="^1$" /></li>
  <li>vicolo<input type="text" pattern="^1$" /></li>
  <li>virtù<input type="text" pattern="^2$" /></li>
  <li>Zagarolo<input type="text" pattern="^3$" /></li>
  <li>zattera<input type="text" pattern="^1$" /></li>
</ul>
<div id="acc_dacapo">Попробовать снова</div>