<div class="domanda">
  <p>1. Quest'estate _____ in vacanza in campeggio.</p>
  <label class="radio">
    <input type="radio" name="answers[1]"><span>andremocene</span>
  </label>
  <label class="radio">
    <input type="radio" name="answers[1]"><span>ne ce andremo</span>
  </label>
  <label class="radio">
    <input type="radio" name="answers[1]" data-correct><span>ce ne andremo</span>
  </label>
</div>
<div class="domanda">
  <p>2. Ero stanca di quella situazione e così _____ .</p>
  <label class="radio">
    <input type="radio" name="answers[2]" data-correct><span>me ne sono andata</span>
  </label>
  <label class="radio">
    <input type="radio" name="answers[2]"><span>me ne sono andato</span>
  </label>
  <label class="radio">
    <input type="radio" name="answers[2]"><span>me ne sono andavo</span>
  </label>
</div>
<div class="domanda">
  <p>3. Basta! Non ti sopporto più! _____ </p>
  <label class="radio">
    <input type="radio" name="answers[3]"><span>Te ne vai!</span>
  </label>
  <label class="radio">
    <input type="radio" name="answers[3]" data-correct><span>Vattene!</span>
  </label>
  <label class="radio">
    <input type="radio" name="answers[3]"><span>Vanete!</span>
  </label>
</div>
<div class="domanda">
  <p>4. È ancora presto, sono solo le 17:00. Perché già _____ via?</p>
  <label class="radio">
    <input type="radio" name="answers[4]"><span>ve ne siete andati</span>
  </label>
  <label class="radio">
    <input type="radio" name="answers[4]"><span>ve ne andrete</span>
  </label>
  <label class="radio">
    <input type="radio" name="answers[4]" data-correct><span>ve ne andate</span>
  </label>
</div>
<div class="domanda">
  <p>5. Purtroppo _____ (all'altro mondo) troppo presto...</p>
  <label class="radio">
    <input type="radio" name="answers[5]" data-correct><span>se n'è andato</span>
  </label>
  <label class="radio">
    <input type="radio" name="answers[5]"><span>ne s'è andato</span>
  </label>
  <label class="radio">
    <input type="radio" name="answers[5]"><span>vattene</span>
  </label>
</div>
<div class="risultati">
  <div class="quiz-submit">Проверить</div>
  <div class="score"></div>
</div>