<div class="questions">
  <div class="question">1. L'esame non sarà facile, ma sono sicuro che <span data-answer="ce la metterai"><input type="text" placeholder="mettercela"></span> tutta! 2. L'esame potrebbe non essere facile, ma voglio che tu <span data-answer="ce la metta"><input type="text" placeholder="mettercela"></span> tutta! 3. L'esame potrebbe non essere facile, ma mi auguro che tu <span data-answer="ce la metta"><input type="text" placeholder="mettercela"></span> tutta! 4. Se ti impegnerai abbastanza,  <span data-answer="ce la metterai"><input type="text" placeholder="mettercela"></span> tutta! 5. Se <span data-answer="ci avessi messo"><input type="text" placeholder="mettercela"></span> tutta, avresti ottenuto molto.</div>
  <div class="block-result">
    <div class="mostrami">Проверить</div>
    <div class="fill-answers">Ответы</div>
    <div class="result"></div>
  </div>
</div>