<div id="randomBtnWrap">
  <button id="random-entry" class="btns">Случайная статья
    <svg class="random-icon" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24">
      <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 16H5v5m9-13h5V3M4.583 9.003a8 8 0 0 1 14.331-1.027m.504 7.021a8 8 0 0 1-14.332 1.027"/>
    </svg>
  </button>
</div>
<div class="controls">
  <div class="control">
    <label for="dizionario">Словари</label>
    <select id="dizionario"></select>
  </div>
  <div class="control">
    <label for="dizionario-search">Поиск</label>
    <div class="input-holder">
      <input id="dizionario-search" type="text" placeholder="Введите слово...">
      <div class="input-tools">
        <i class="clear-btn">&times;</i>
        <div class="char-dropdown">
          <button type="button" class="char-toggle">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
              <path fill="currentColor" d="M21 4H3c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h18c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2m-8 3h2v2h-2zm0 4h2v2h-2zM9 7h2v2H9zm0 4h2v2H9zM5 7h2v2H5zm0 4h2v2H5zm12 6H7v-2h10zm2-4h-2v-2h2zm0-4h-2V7h2z" />
            </svg>
          </button>
          <div class="char-menu">
            <button type="button" class="char-item">à</button>
            <button type="button" class="char-item">ù</button>
            <button type="button" class="char-item">'</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="dizionario-results"></div>