<div class="svg-icon-container">
  <svg id="audioOnIcon" class="audio-toggle" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
    <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M2 14.959V9.04C2 8.466 2.448 8 3 8h3.586a.98.98 0 0 0 .707-.305l3-3.388c.63-.656 1.707-.191 1.707.736v13.914c0 .934-1.09 1.395-1.716.726l-2.99-3.369A.98.98 0 0 0 6.578 16H3c-.552 0-1-.466-1-1.041M16 8.5c1.333 1.778 1.333 5.222 0 7M19 5c3.988 3.808 4.012 10.217 0 14" />
  </svg>
  <svg id="audioOffIcon" class="audio-toggle" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="display: none;">
    <g fill="none" stroke="currentColor" stroke-linecap="round" stroke-width="2">
      <path d="m22 15l-6-6m6 0l-6 6" />
      <path stroke-linejoin="round" d="M2 14.959V9.04C2 8.466 2.448 8 3 8h3.586a.98.98 0 0 0 .707-.305l3-3.388c.63-.656 1.707-.191 1.707.736v13.914c0 .934-1.09 1.395-1.716.726l-2.99-3.369A.98.98 0 0 0 6.578 16H3c-.552 0-1-.466-1-1.041" />
    </g>
  </svg>
</div>
<div class="domanda">
  <p>1. Tutte le congiunzioni concessive hanno bisogno del congiuntivo.</p>
  <label class="radio">
    <input type="radio" name="answers[1]"><span>Vero</span>
  </label>
  <label class="radio">
    <input type="radio" name="answers[1]" data-correct><span>Falso</span>
  </label>
</div>
<div class="domanda">
  <p>2. Abbiamo deciso di partire comunque _____ la pioggia.</p>
  <label class="radio">
    <input type="radio" name="answers[2]"><span>anche se</span>
  </label>
  <label class="radio">
    <input type="radio" name="answers[2]"><span>sebbene</span>
  </label>
  <label class="radio">
    <input type="radio" name="answers[2]" data-correct><span>nonostante</span>
  </label>
</div>
<div class="domanda">
  <p>3. Hanno traslocato _____ amassero la loro vecchia casa.</p>
  <label class="radio">
    <input type="radio" name="answers[3]" data-correct><span>nonostante</span>
  </label>
  <label class="radio">
    <input type="radio" name="answers[3]"><span>anche se</span>
  </label>
</div>
<div class="domanda">
  <p>4. "Anche se" è sempre e solo seguito dall'indicativo.</p>
  <label class="radio">
    <input type="radio" name="answers[4]"><span>Vero</span>
  </label>
  <label class="radio">
    <input type="radio" name="answers[4]" data-correct><span>Falso</span>
  </label>
</div>
<div class="domanda">
  <p>5. Continuerei a cantare _____ dovessi rimanere senza voce.</p>
  <label class="radio">
    <input type="radio" name="answers[5]"><span>malgrado</span>
  </label>
  <label class="radio">
    <input type="radio" name="answers[5]" data-correct><span>anche se</span>
  </label>
</div>
<div class="domanda">
  <p>6. Le congiunzioni concessive non possono mai essere seguite dal condizionale.</p>
  <label class="radio">
    <input type="radio" name="answers[6]"><span>Vero</span>
  </label>
  <label class="radio">
    <input type="radio" name="answers[6]" data-correct><span>Falso</span>
  </label>
</div>
<div class="domanda">
  <p>7. Gli presterò dei soldi nonostante non _____ farlo.</p>
  <label class="radio">
    <input type="radio" name="answers[7]"><span>vorrò</span>
  </label>
  <label class="radio">
    <input type="radio" name="answers[7]" data-correct><span>vorrei</span>
  </label>
  <label class="radio">
    <input type="radio" name="answers[7]"><span>ho voluto</span>
  </label>
</div>
<div class="risultati">
  <div class="quiz-submit">Проверить</div>
  <div class="score"></div>
</div>