<div class="domanda">
  <p>1. Forse lui non _____ capito cosa fare.</p>
  <label class="radio">
    <input type="radio" name="answers[1]" data-correct><span>ha</span>
  </label>
  <label class="radio">
    <input type="radio" name="answers[1]"><span>abbia</span>
  </label>
</div>
<div class="domanda">
  <p>2. Spero che tutti voi _____ alla mia festa.</p>
  <label class="radio">
    <input type="radio" name="answers[2]"><span>venite</span>
  </label>
  <label class="radio">
    <input type="radio" name="answers[2]" data-correct><span>veniate</span>
  </label>
</div>
<div class="domanda">
  <p>3. Sono contento che tu _____ qui con me.</p>
  <label class="radio">
    <input type="radio" name="answers[3]"><span>sei</span>
  </label>
  <label class="radio">
    <input type="radio" name="answers[3]" data-correct><span>sia</span>
  </label>
</div>
<div class="domanda">
  <p>4. Sono sicuro che lui _____ colpevole.</p>
  <label class="radio">
    <input type="radio" name="answers[4]" data-correct><span>è</span>
  </label>
  <label class="radio">
    <input type="radio" name="answers[4]"><span>sia</span>
  </label>
</div>
<div class="domanda">
  <p>5. Probabilmente _____ cambiato idea.</p>
  <label class="radio">
    <input type="radio" name="answers[5]" data-correct><span>hanno</span>
  </label>
  <label class="radio">
    <input type="radio" name="answers[5]"><span>abbiano</span>
  </label>
</div>
<div class="domanda">
  <p>6. Voglio che tu _____ subito via!</p>
  <label class="radio">
    <input type="radio" name="answers[6]"><span>vai</span>
  </label>
  <label class="radio">
    <input type="radio" name="answers[6]" data-correct><span>vada</span>
  </label>
</div>
<div class="domanda">
  <p>7. Qualungue cosa _____, noi l'affronteremo.</p>
  <label class="radio">
    <input type="radio" name="answers[7]"><span>accade</span>
  </label>
  <label class="radio">
    <input type="radio" name="answers[7]" data-correct><span>accada</span>
  </label>
</div>
<div class="domanda">
  <p>8. Questa è la pasta piu buona che io _____ mai mangiato.</p>
  <label class="radio">
    <input type="radio" name="answers[8]"><span>ho</span>
  </label>
  <label class="radio">
    <input type="radio" name="answers[8]" data-correct><span>abbia</span>
  </label>
</div>
<div class="domanda">
  <p>9. La mamma dice che voi _____ stati cattivi.</p>
  <label class="radio">
    <input type="radio" name="answers[9]" data-correct><span>siete</span>
  </label>
  <label class="radio">
    <input type="radio" name="answers[9]"><span>siate</span>
  </label>
</div>
<div class="domanda">
  <p>10. Nonostante _____ chiesto aiuto, nessuno mi ha aiutato.</p>
  <label class="radio">
    <input type="radio" name="answers[10]"><span>ho</span>
  </label>
  <label class="radio">
    <input type="radio" name="answers[10]" data-correct><span>abbia</span>
  </label>
</div>
<div class="risultati">
  <div class="quiz-submit">Проверить</div>
  <div class="score"></div>
</div>