<svg id="audioOnIcon" class="audio-toggle" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
  <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M2 14.959V9.04C2 8.466 2.448 8 3 8h3.586a.98.98 0 0 0 .707-.305l3-3.388c.63-.656 1.707-.191 1.707.736v13.914c0 .934-1.09 1.395-1.716.726l-2.99-3.369A.98.98 0 0 0 6.578 16H3c-.552 0-1-.466-1-1.041M16 8.5c1.333 1.778 1.333 5.222 0 7M19 5c3.988 3.808 4.012 10.217 0 14" />
</svg>
<svg id="audioOffIcon" class="audio-toggle" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="display: none;">
  <g fill="none" stroke="currentColor" stroke-linecap="round" stroke-width="2">
    <path d="m22 15l-6-6m6 0l-6 6" />
    <path stroke-linejoin="round" d="M2 14.959V9.04C2 8.466 2.448 8 3 8h3.586a.98.98 0 0 0 .707-.305l3-3.388c.63-.656 1.707-.191 1.707.736v13.914c0 .934-1.09 1.395-1.716.726l-2.99-3.369A.98.98 0 0 0 6.578 16H3c-.552 0-1-.466-1-1.041" />
  </g>
</svg>
<div class="domanda">
  <p>1. Forse lui non _____ capito cosa fare.</p>
  <label class="radio">
    <input type="radio" name="answers[1]" data-correct><span>ha</span>
  </label>
  <label class="radio">
    <input type="radio" name="answers[1]"><span>abbia</span>
  </label>
</div>
<div class="domanda">
  <p>2. Spero che tutti voi _____ alla mia festa.</p>
  <label class="radio">
    <input type="radio" name="answers[2]"><span>venite</span>
  </label>
  <label class="radio">
    <input type="radio" name="answers[2]" data-correct><span>veniate</span>
  </label>
</div>
<div class="domanda">
  <p>3. Sono contento che tu _____ qui con me.</p>
  <label class="radio">
    <input type="radio" name="answers[3]"><span>sei</span>
  </label>
  <label class="radio">
    <input type="radio" name="answers[3]" data-correct><span>sia</span>
  </label>
</div>
<div class="domanda">
  <p>4. Sono sicuro che lui _____ colpevole.</p>
  <label class="radio">
    <input type="radio" name="answers[4]" data-correct><span>è</span>
  </label>
  <label class="radio">
    <input type="radio" name="answers[4]"><span>sia</span>
  </label>
</div>
<div class="domanda">
  <p>5. Probabilmente _____ cambiato idea.</p>
  <label class="radio">
    <input type="radio" name="answers[5]" data-correct><span>hanno</span>
  </label>
  <label class="radio">
    <input type="radio" name="answers[5]"><span>abbiano</span>
  </label>
</div>
<div class="domanda">
  <p>6. Voglio che tu _____ subito via!</p>
  <label class="radio">
    <input type="radio" name="answers[6]"><span>vai</span>
  </label>
  <label class="radio">
    <input type="radio" name="answers[6]" data-correct><span>vada</span>
  </label>
</div>
<div class="domanda">
  <p>7. Qualungue cosa _____, noi l'affronteremo.</p>
  <label class="radio">
    <input type="radio" name="answers[7]"><span>accade</span>
  </label>
  <label class="radio">
    <input type="radio" name="answers[7]" data-correct><span>accada</span>
  </label>
</div>
<div class="domanda">
  <p>8. Questa è la pasta piu buona che io _____ mai mangiato.</p>
  <label class="radio">
    <input type="radio" name="answers[8]"><span>ho</span>
  </label>
  <label class="radio">
    <input type="radio" name="answers[8]" data-correct><span>abbia</span>
  </label>
</div>
<div class="domanda">
  <p>9. La mamma dice che voi _____ stati cattivi.</p>
  <label class="radio">
    <input type="radio" name="answers[9]" data-correct><span>siete</span>
  </label>
  <label class="radio">
    <input type="radio" name="answers[9]"><span>siate</span>
  </label>
</div>
<div class="domanda">
  <p>10. Nonostante _____ chiesto aiuto, nessuno mi ha aiutato.</p>
  <label class="radio">
    <input type="radio" name="answers[10]"><span>ho</span>
  </label>
  <label class="radio">
    <input type="radio" name="answers[10]" data-correct><span>abbia</span>
  </label>
</div>
<div class="risultati">
  <div class="quiz-submit">Проверить</div>
  <div class="score"></div>
</div>