<span id="benvenuto"></span>
<span>Ho creato un piccolo test. Rispondi alle domande digitando il mese e il giorno correnti in italiano nelle caselle in basso:</span>
<svg id="audioOnIcon" class="audio-toggle" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
  <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M2 14.959V9.04C2 8.466 2.448 8 3 8h3.586a.98.98 0 0 0 .707-.305l3-3.388c.63-.656 1.707-.191 1.707.736v13.914c0 .934-1.09 1.395-1.716.726l-2.99-3.369A.98.98 0 0 0 6.578 16H3c-.552 0-1-.466-1-1.041M16 8.5c1.333 1.778 1.333 5.222 0 7M19 5c3.988 3.808 4.012 10.217 0 14" />
</svg>
<svg id="audioOffIcon" class="audio-toggle" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="display: none;">
  <g fill="none" stroke="currentColor" stroke-linecap="round" stroke-width="2">
    <path d="m22 15l-6-6m6 0l-6 6" />
    <path stroke-linejoin="round" d="M2 14.959V9.04C2 8.466 2.448 8 3 8h3.586a.98.98 0 0 0 .707-.305l3-3.388c.63-.656 1.707-.191 1.707.736v13.914c0 .934-1.09 1.395-1.716.726l-2.99-3.369A.98.98 0 0 0 6.578 16H3c-.552 0-1-.466-1-1.041" />
  </g>
</svg>
<div id="wrap_mg">
  <div id="questione">
    <label>In che mese siamo? Oggi siamo in</label> <input autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" id="search-mese">
    <div id="wrap-result">
      <div id="btn-mese" class="btn-mg">Prova</div>
      <div id="risultato-mese"></div>
    </div>
  </div>
  <div id="questione">
    <label>Che giorno è oggi? È</label> <input autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" id="search-giorno">
    <div id="wrap-result">
      <div id="btn-giorno" class="btn-mg">Prova</div>
      <div id="risultato-giorno"></div>
    </div>
  </div>
</div>