<span id="benvenuto"></span>
<span>Ho creato un piccolo test. Rispondi alle domande digitando il mese e il giorno correnti in italiano nelle caselle in basso:</span>
<div id="wrap_mg">
  <div id="questione">
    <label>In che mese siamo? Oggi siamo in</label> <input autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" id="search-mese">
    <div id="wrap-result">
      <div id="btn-mese" class="btn-mg">Prova</div>
      <div id="risultato-mese"></div>
    </div>
  </div>
  <div id="questione">
    <label>Che giorno è oggi? È</label> <input autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" id="search-giorno">
    <div id="wrap-result">
      <div id="btn-giorno" class="btn-mg">Prova</div>
      <div id="risultato-giorno"></div>
    </div>
  </div>
</div>