<section class="navigation">
  <div class="nav-container">
    <div class="brand">
      <a href="{{ site.baseurl }}/">{{ site.title }}</a>
    </div>
    <nav>
      <div class="nav-mobile"><a id="nav-toggle" href="javascript: void(0);"><span></span></a></div>
      <ul class="nav-list">
        {% for item in site.data.navigation.nav %}
        <li><a href="{{ item.url }}">{{ item.primo-livello }}</a>
          {% if item.items %}
          <ul class="nav-dropdown">
            {% for subitem in item.items %}
            <li><a href="{{ subitem.url }}" {% if subitem.target == 'target="_blank"' %}{{ subitem.target }}{% endif %}>{{ subitem.secondo-livello }}</a></li>
            {% endfor %}
          </ul>
          {% endif %}
        </li>
        {% endfor %}
      </ul>
    </nav>
  </div>
</section>