<section class="navigation">
  <div class="nav-container">
    <div class="brand">
      <a href="{{ site.baseurl }}/">{{ site.title }}</a>
    </div>
    <nav>
      <div class="nav-mobile"><a id="nav-toggle" href="javascript: void(0);"><span></span></a></div>
      <ul class="nav-list">
        <li>
          <a href="{{ site.baseurl }}/">Статьи</a>
        </li>
        <li>
          <a href="{{ '/categories' | prepend: site.baseurl }}">A–Z</a>
        </li>
        <li>
          <a href="{{ '/abbreviazioni' | prepend: site.baseurl }}">Abbreviazioni</a>
        </li>
        <li>
          <a href="{{ '/tags' | prepend: site.baseurl }}">Теги</a>
        </li>
        <li>
          <a href="javascript: void(0);">Меню</a>
          <ul class="nav-dropdown">
            <li>
              <a href="{{ '/tags' | prepend: site.baseurl }}">Тесты</a>
            </li>
            <li>
              <a href="#">Пункт 2</a>
            </li>
            <li>
              <a href="#">Пункт 3</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="{{ '/about' | prepend: site.baseurl }}">О сайте</a>
        </li>
      </ul>
    </nav>
  </div>
</section>