<script type="text/javascript" src="{{ "/assets/js/numerali.js" | relative_url }}"></script>
<link rel="stylesheet" href="{{ "/assets/css/numerali.css" | relative_url }}" />
<div id="wrap_num">
    <div id="q_num"></div>
    <input autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" id="an_num" />
    <div id="block-result">
        <div class="mostrami" id="q_ris">Проверить</div>
        <div class="mostrami" id="next_num">Другое</div>
        <div id="risultato"></div>
    </div>
    <div id="suggerimento"></div>
</div>