<div class="domanda">
    <p>1. В каком значении итальянцы обычно употребляют слово <b>coda</b>?</p>
    <label class="radio">
        <input type="radio" name="answers[1]"> <span>Итог</span></label>
    <label class="radio">
        <input type="radio" name="answers[1]" data-correct> <span>Хвост</span></label>
    <label class="radio">
        <input type="radio" name="answers[1]"> <span>Конец</span></label>
</div>
<div class="domanda">
    <p>2. Обычно итальянцы употребляют слово <b>fermata</b>...</p>
    <label class="radio">
        <input type="radio" name="answers[2]" data-correct> <span>ожидая автобус.</span> </label>
    <label class="radio">
        <input type="radio" name="answers[2]"> <span>чтобы сказать о человеке, который немного задумался.</span> </label>
    <label class="radio">
        <input type="radio" name="answers[2]"> <span>на ферме, где отдыхают коровы.</span> </label>
</div>
<div class="domanda">
    <p>3. Как перевести выражение <b>Sono allegro?</b></p>
    <label class="radio">
        <input type="radio" name="answers[3]" data-correct> <span>Я весёлый! Я веселюсь.</span> </label>
    <label class="radio">
        <input type="radio" name="answers[3]"> <span>Я проворный. Я быстрый.</span> </label>
    <label class="radio">
        <input type="radio" name="answers[3]"> <span>Я холерик.</span> </label>
</div>
<div class="domanda">
    <p>4. В каком музыкальном термине спрятался знак сложения?</p>
    <label class="radio">
        <input type="radio" name="answers[4]" data-correct> <span>Più lento.</span> </label>
    <label class="radio">
        <input type="radio" name="answers[4]"> <span>A mezza voce.</span> </label>
    <label class="radio">
        <input type="radio" name="answers[4]"> <span>Poco rallentando.</span> </label>
</div>
<div class="domanda">
    <p>5. Все знают музыкальный термин <b>piano</b> – в каком значении часто его употребляют итальянцы?</p>
    <label class="radio">
        <input type="radio" name="answers[5]"> <span>Покой.</span> </label>
    <label class="radio">
        <input type="radio" name="answers[5]" data-correct> <span>Этаж.</span> </label>
    <label class="radio">
        <input type="radio" name="answers[5]"> <span>Глухота.</span> </label>
</div>
<div class="risultati">
    <div class="quiz-submit">Проверить</div>
    <div class="score"></div>
</div>