<div class="domanda">
    <p>1. Указание в нотых <b>Da capo al fine</b> означает "С начала до слова fine (конец)". В каком ещё значении употребляется слово <b>capo</b>?</p>
    <label class="radio">
        <input type="radio" name="answers[1]" data-correct> <span>Голова.</span></label>
    <label class="radio">
        <input type="radio" name="answers[1]"> <span>Открытие.</span></label>
    <label class="radio">
        <input type="radio" name="answers[1]"> <span>Вступление.</span></label>
</div>
<div class="domanda">
    <p>2. Музыкальный термин <b>presto</b> означает "быстро". В каком ещё значении употребляется это слово в итальянском языке?</p>
    <label class="radio">
        <input type="radio" name="answers[2]" data-correct> <span>Рано.</span> </label>
    <label class="radio">
        <input type="radio" name="answers[2]"> <span>Стремительно.</span> </label>
    <label class="radio">
        <input type="radio" name="answers[2]"> <span>Просто.</span> </label>
</div>
<div class="domanda">
    <p>3. Музыкальный термин <b>Andante</b> означает темп в характере шага (andare – ходить). Может ли иметь глагол andare отношение к полётам на самолёте?</p>
    <label class="radio">
        <input type="radio" name="answers[3]"> <span>Иногда</span> </label>
    <label class="radio">
        <input type="radio" name="answers[3]" data-correct> <span>Да</span> </label>
    <label class="radio">
        <input type="radio" name="answers[3]"> <span>Нет</span> </label>
</div>
<div class="domanda">
    <p>4. <b>Crescendo</b> – этим термином в нотах указывают на постепенное усиление звучания. Переведите фразу <b>Io cresco</b>:</p>
    <label class="radio">
        <input type="radio" name="answers[4]"> <span>Я взлетаю</span> </label>
    <label class="radio">
        <input type="radio" name="answers[4]"> <span>Я говорю громче</span> </label>
    <label class="radio">
        <input type="radio" name="answers[4]" data-correct> <span>Я расту</span> </label>
</div>
<div class="domanda">
    <p>5. <b>Diminuendo</b> – этим термином в нотах указывают на постепенное ослабление звучания. Можно ли использовать глагол diminuire в отношении к скорости?</p>
    <label class="radio">
        <input type="radio" name="answers[5]"> <span>Нет</span> </label>
    <label class="radio">
        <input type="radio" name="answers[5]" data-correct> <span>Да</span> </label>
</div>
<div class="risultati">
    <div class="quiz-submit">Проверить</div>
    <div class="score"></div>
</div>