<div class="domanda">
  <p>1. Tutti i verbi possono prendere il doppio ausiliare.</p>
  <label class="radio">
    <input type="radio" name="answers[1]"><span>Vero</span>
  </label>
  <label class="radio">
    <input type="radio" name="answers[1]" data-correct><span>Falso</span>
  </label>
</div>
<div class="domanda">
  <p>2. Un verbo con doppio ausiliare regge "avere" quando è utilizzato in forma intransitiva.</p>
  <label class="radio">
    <input type="radio" name="answers[2]"><span>Vero</span>
  </label>
  <label class="radio">
    <input type="radio" name="answers[2]" data-correct><span>Falso</span>
  </label>
</div>
<div class="domanda">
  <p>3. Paolo _____ macchina qualche settimana fa.</p>
  <label class="radio">
    <input type="radio" name="answers[3]" data-correct><span>ha cambiato</span>
  </label>
  <label class="radio">
    <input type="radio" name="answers[3]"><span>è cambiato</span>
  </label>
</div>
<div class="domanda">
  <p>4. Matteo _____ velocemente quando il corriere ha suonato alla porta.</p>
  <label class="radio">
    <input type="radio" name="answers[4]"><span>ha sceso</span>
  </label>
  <label class="radio">
    <input type="radio" name="answers[4]" data-correct><span>è sceso</span>
  </label>
</div>
<div class="domanda">
  <p>5. Il suo sogno di diventare poliziotto _____ quando è stato arrestato.</p>
  <label class="radio">
    <input type="radio" name="answers[5]"><span>ha sfumato</span>
  </label>
  <label class="radio">
    <input type="radio" name="answers[5]" data-correct><span>è sfumato</span>
  </label>
</div>
<div class="domanda">
  <p>6. Paolo _____ molto da quando vive all'estero.</p>
  <label class="radio">
    <input type="radio" name="answers[6]"><span>ha cambiato</span>
  </label>
  <label class="radio">
    <input type="radio" name="answers[6]" data-correct><span>è cambiato</span>
  </label>
</div>
<div class="domanda">
  <p>7. La bomba _____ davanti a un supermercato.</p>
  <label class="radio">
    <input type="radio" name="answers[7]" data-correct><span>è esplosa</span>
  </label>
  <label class="radio">
    <input type="radio" name="answers[7]"><span>ha esploso</span>
  </label>
</div>
<div class="domanda">
  <p>8. I bambini _____ la scuola questo lunedì.</p>
  <label class="radio">
    <input type="radio" name="answers[8]"><span>sono cominciati</span>
  </label>
  <label class="radio">
    <input type="radio" name="answers[8]" data-correct><span>hanno cominciato</span>
  </label>
</div>
<div class="domanda">
  <p>9. I corsi _____ questo fine settimana ma ricominceranno tra un mese.</p>
  <label class="radio">
    <input type="radio" name="answers[9]"><span>hanno terminato</span>
  </label>
  <label class="radio">
    <input type="radio" name="answers[9]" data-correct><span>sono terminati</span>
  </label>
</div>
<div class="domanda">
  <p>10. Il tempo _____ tutte le sue ferite.</p>
  <label class="radio">
    <input type="radio" name="answers[10]" data-correct><span>ha guarito</span>
  </label>
  <label class="radio">
    <input type="radio" name="answers[10]"><span>è guarito</span>
  </label>
</div>
<div class="risultati">
  <div class="quiz-submit">Проверить</div>
  <div class="score"></div>
</div>