* {
  @include box-sizing;
  line-height: 1.5;
}

html,
body {
  color: $default-color;
  margin: 0;
  padding: 0;
}

html {
  font-family: $serif-primary;
  font-size: 14px;
  overflow-y: scroll;

  @media (min-width: 600px) {
    font-size: 16px;
  }
}

body {
  -webkit-text-size-adjust: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $default-shade;
  font-family: $sans-serif;
  line-height: normal;
  overflow-wrap: break-word;
}

a {
  color: $blue;
  text-decoration: none;
}

blockquote {
  border-left: .25rem solid $grey-2;
  color: $grey-1;
  margin: .8rem 0;
  padding: .5rem 1rem;

  p:last-child {
    margin-bottom: 0;
  }

  @media (min-width: 600px) {
    padding: 0 5rem 0 1.25rem;
  }
}

img {
  display: block;
  margin: 0 0 1rem;
  max-width: 100%;
}

table {
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
  margin: 0 0 1rem;
  td {
    padding: 10px;
    border: 1px solid #ccc;
    vertical-align: top;
    width: 100%;
  }
  th {
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #c9e3fe;
    text-align: left;
  }
}

.abbreviazioni {
  td {
    &:first-child {
      background: #c9e3fe;
    }
  }
}

input#search {
  box-sizing: border-box;
  border: 1px solid #ddd;
  color: #555;
  display: block;
  font-size: 1.5em;
  font-style: normal;
  font-weight: 300;
  outline: 0;
  padding: 2px 8px;
  margin: 0;
  width: 50%;
  transition:all ease-out 0.2s;
  &:focus {
    outline:none;border-color:#aaa;
  }
}
@media (max-width:1050px) {
  input#search {
    width: 100%;
    float: none;
  }
}

@media screen and (max-width: 768px) {
  table {
    thead {
      display: none;
    }
    tr {
      display: block;
      border: 1px solid #e8e9eb;
      margin-bottom: 1rem;
    }
    td {
      display: block;
      border: none;
      padding: 7px;
      border: 1px solid #ccc;
      &:before {
        content: attr(aria-label);
        float: left;
        font-weight: bold;
      }
    }
  }
}

.center {
  text-align: center;
}

.youtube-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

@-webkit-keyframes "albero" {
  0% {
    transform: scale3d(1,1,1);
  }
  30% {
    transform: scale3d(1.25,0.75,1);
  }
  40% {
    transform: scale3d(0.75,1.25,1);
  }
  50% {
    transform: scale3d(1.15,0.85,1);
  }
  65% {
    transform: scale3d(0.95,1.05,1);
  }
  75% {
    transform: scale3d(1.05,0.95,1);
  }
  100% {
    transform: scale3d(1,1,1);
  }
}
@keyframes "albero" {
  0% {
    transform: scale3d(1,1,1);
  }
  30% {
    transform: scale3d(1.25,0.75,1);
  }
  40% {
    transform: scale3d(0.75,1.25,1);
  }
  50% {
    transform: scale3d(1.15,0.85,1);
  }
  65% {
    transform: scale3d(0.95,1.05,1);
  }
  75% {
    transform: scale3d(1.05,0.95,1);
  }
  100% {
    transform: scale3d(1,1,1);
  }
}
#albero {
  width: 102px;
  height: 110px;
  background: url(../assets/albero.png);
  right: -102px;
  bottom: 5px;
  z-index: 9998;
  transition: right 0.5s ease;
  transform-origin: bottom;
  overflow: hidden;
  position: fixed;
  text-indent: -9999%;
}
.albero {
  -webkit-animation: albero 0.9s both;
  animation: albero 0.9s both;
}
.off {
  webkit-animation: none;
  -webkit-animation: none;
  animation: none;
}
#neve {
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 30px;
  background: url(../assets/neve.png) left;
  display: block;
  border: 0;
  z-index: 9997;
  position: fixed;
  text-indent: -9999%;
}
.tornasu {
  right: 0 !important;
}
.brand a span:nth-child(1) {
    animation: lumicino-1 1s infinite;
}

.brand a span:nth-child(2) {
    animation: lumicino-2 1s infinite;
}

.brand a span:nth-child(3) {
    animation: lumicino-3 1s infinite;
}

.brand a span:nth-child(4) {
    animation: lumicino-4 1s infinite;
}

@keyframes lumicino-1 {

    0%,
    100% {

        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18;
    }

    50% {
        text-shadow: none;
    }
}

@keyframes lumicino-2 {

    0%,
    100% {
        text-shadow: none;
    }

    50% {

        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ed1111, 0 0 30px #ed1111, 0 0 40px #ed1111, 0 0 55px #ed1111, 0 0 75px #ed1111;
    }
}

@keyframes lumicino-3 {

    0%,
    100% {
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #11b2ed, 0 0 30px #11b2ed, 0 0 40px #11b2ed, 0 0 55px #11b2ed, 0 0 75px #11b2ed;
    }

    50% {
        text-shadow: none;
    }
}

@keyframes lumicino-4 {

    0%,
    100% {
        text-shadow: none;
    }

    50% {
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #c5ed11, 0 0 30px #c5ed11, 0 0 40px #c5ed11, 0 0 55px #c5ed11, 0 0 75px #c5ed11;
    }
}

#palla {
  position: fixed;
  top: -2px;
  left: 5px;
  background-image: url(../assets/palla_rossa.png);
  width: 100px;
  height: 104px;
  z-index: 4;
  opacity: 0.8;
  transition: opacity 0.5s ease-in-out;
  transform-origin: top;
  animation: palla 10s ease-in-out 0s 1;
    &:hover {
	opacity: 1;
    }
}
@media screen and (max-width: 1200px) {
	.brand {
		padding-left: 105px!important;
	}
}
@media screen and (max-width: 768px) {
	#palla {
		left: -30px;
		z-index: 2;
	}
	.brand {
	    padding-left: 20px!important;
	}
}
@keyframes palla{
    0% { transform: rotate(0); }
    5% { transform: rotate(12deg); }
    10% { transform: rotate(-10deg); }
    15% { transform: rotate(9deg); }
    20% { transform: rotate(-8deg); }
    25% { transform: rotate(7deg); }
    30% { transform: rotate(-6deg); }
    35% { transform: rotate(5deg); }
    40% { transform: rotate(-4deg); }
    45% { transform: rotate(3deg); }
    50% { transform: rotate(0); }
    100% { transform: rotate(0); }
}
