* {
  @include box-sizing;
  line-height: 1.5;
}

html,
body {
  color: $default-color;
  margin: 0;
  padding: 0;
}

main {
  font-family: main-primary;
  font-size: 18px;

  @media (min-width: 600px) {
    font-size: 20px;
  }
}

body {
  -webkit-text-size-adjust: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $default-shade;
  font-family: $sans-serif;
  line-height: normal;
  overflow-wrap: break-word;
}

a {
  color: $green;
  text-decoration: none;
}

main {
  p {
    a {
      transition: color 0.25s ease-in-out;
      &:hover {
        color: #00ff4d;
      }
      &:focus {
        color: #00ff4d;
      }
    }
  }
  ul {
    li {
      a {
        transition: color 0.25s ease-in-out;
        &:hover {
          color: #00ff4d;
        }
        &:focus {
          color: #00ff4d;
        }
      }
      &::marker {
        color: #353535;
      }
    }
  }
  table {
    td {
      a {
        transition: color 0.25s ease-in-out;
        &:hover {
          color: #00ff4d;
        }
        &:focus {
          color: #00ff4d;
        }
      }
    }
  }
  .toc {
    a {
      transition: color 0.25s ease-in-out;
      &:hover {
        color: #00ff4d;
      }
    }
  }
}

#wrapper-toc {
  background: white;
  border: solid 2px #777;
  box-shadow: 13px 13px 0 0 white, 15px 15px 0 0 #777, 15px 11px 0 0 #777, 11px 15px 0 0 #777;
  padding: 1em;
  margin-bottom: 2em;
  h3 {
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;
  }
  ol {
    counter-reset: myCounter;
    padding-left: 10px;
  }
  li {
    list-style: none;
    margin: 0 0 5px 0;
    &:before {
      counter-increment: myCounter;
      content: counter(myCounter);
      color: white;
      background: #353535;
      display: inline-block;
      line-height: normal;
      height: auto;
      width: auto;
      margin: 0 10px 0 0;
      padding: 0 8px;
    }
  }
}

.footnote {
  &:before {
    content: "[";
  }
  &:after {
    content: "]";
  }
  transition: color 0.25s ease-in-out;
  &:hover {
    color: #00ff4d;
  }
}

.footnotes {
  border-top: 1px solid #333;
}

blockquote {
  border-left: 0.25rem solid $grey-2;
  color: $grey-1;
  margin: 0.8rem 0;
  padding: 0.5rem 1rem;

  p:last-child {
    margin-bottom: 0;
  }

  @media (min-width: 600px) {
    padding: 0 5rem 0 1.25rem;
  }
}

img {
  display: block;
  margin: 0 0 1rem;
  max-width: 100%;
}

audio,
video {
  &:active {
    outline: none;
  }
  &:focus {
    outline: none;
  }
  &::-moz-focus-inner {
    border: 0;
  }
}

.audio-wrapper,
.youtube-wrapper,
.video-wrapper {
  margin: 0 auto 0.5rem;
}

::-moz-selection {
  color: #fff;
  background: #8dc692;
  text-shadow: none;
}

::selection {
  color: #fff;
  background: #8dc692;
  text-shadow: none;
}

table {
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
  margin: 0 0 1rem;
  td {
    padding: 10px;
    border: 1px solid #ccc;
    vertical-align: top;
    width: 100%;
  }
  th {
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #c9e3fe;
    text-align: left;
  }
}

.search {
  td {
    &:first-child {
      background: #c9e3fe;
    }
  }
}

.input-search {
  background-image: url("../assets/06-magnify-icon.png");
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 50%;
  font-size: 1em;
  padding: 10px 20px 10px 50px;
  border: 1px solid #ddd;
  color: #555;
  display: block;
  font-style: normal;
  font-weight: 300;
  outline: 0;
  margin-bottom: 12px;
  transition: all ease-out 0.2s;
  &:focus {
    outline: none;
    border-color: #aaa;
  }
}
.gatto {
  background-image: url("../assets/search-icon.png");
}

/* placeholder opacity */
::-webkit-input-placeholder {
  /* Chrome */
  -webkit-transition: opacity 250ms ease-in-out;
  transition: opacity 250ms ease-in-out;
}

:focus::-webkit-input-placeholder {
  opacity: 0.5;
}

:-ms-input-placeholder {
  /* IE 10+ */
  -ms-transition: opacity 250ms ease-in-out;
  transition: opacity 250ms ease-in-out;
}

:focus:-ms-input-placeholder {
  opacity: 0.5;
}

::-moz-placeholder {
  /* Firefox 19+ */
  opacity: 1;
  -moz-transition: opacity 250ms ease-in-out;
  transition: opacity 250ms ease-in-out;
}

:focus::-moz-placeholder {
  opacity: 0.5;
}

:-moz-placeholder {
  /* Firefox 4 - 18 */
  opacity: 1;
  -moz-transition: opacity 250ms ease-in-out;
  transition: opacity 250ms ease-in-out;
}

:focus:-moz-placeholder {
  opacity: 0.5;
}

@media (max-width: 1050px) {
  .input-search {
    width: 100%;
    float: none;
  }
}

@media screen and (max-width: 768px) {
  table {
    thead {
      display: none;
    }
    tr {
      display: block;
      border: 1px solid #e8e9eb;
      margin-bottom: 1rem;
    }
    td {
      display: block;
      border: none;
      padding: 7px;
      border: 1px solid #ccc;
      &:before {
        content: attr(aria-label);
        float: left;
        font-weight: bold;
      }
    }
  }
}

.center {
  text-align: center;
}

.youtube-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.video-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  background-color: black;
  video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.audio-wrapper,
.video-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@-webkit-keyframes "albero" {
  0% {
    transform: scale3d(1, 1, 1);
  }
  30% {
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}
@keyframes "albero" {
  0% {
    transform: scale3d(1, 1, 1);
  }
  30% {
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}
#albero {
  width: 102px;
  height: 110px;
  background: url(../assets/albero.png);
  right: -102px;
  bottom: 5px;
  z-index: 9998;
  transition: right 0.5s ease;
  transform-origin: bottom;
  position: fixed;
  text-indent: -9999%;
}
.albero {
  -webkit-animation: albero 0.9s both;
  animation: albero 0.9s both;
}
.off {
  -webkit-animation: none;
  animation: none;
}
#neve {
  width: 100%;
  height: 30px;
  background: url(../assets/neve.png) left;
  left: 0;
  bottom: -6px;
  z-index: 9997;
  position: fixed;
  text-indent: -9999%;
}
.tornasu {
  right: 0 !important;
}

.cornice {
  padding: 10px;
  border: 2px solid #41403e;
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
}

.lightbox {
  cursor: pointer;
}
.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  display: none;
  background: #262626;
  cursor: pointer;
  z-index: 10000;
  .parent {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    padding: 20px;
    .image {
      width: 100%;
      max-width: 1280px;
      height: 100%;
      max-height: 800px;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
    }
  }
}

@media screen and (max-width: 768px) {
  .overlay {
    .parent {
      padding: 0;
    }
  }
}
