pre,
code {
  font-family: $monospaced;
}

code {
  background-color: $grey-3;
  border-radius: 3px;
  color: $code-color;
  font-size: 85%;
  padding: 0.25em 0.5em;
}

pre {
  margin: 0 0 1rem;
}

pre code {
  background-color: transparent;
  color: inherit;
  font-size: 100%;
  padding: 0;
}

.highlight {
  background-color: $grey-3;
  border-radius: 3px;
  line-height: 1.4;
  margin: 0 0 1rem;
  padding: 1rem;
  position: relative;

  pre {
    margin-bottom: 0;
    overflow-x: auto;
  }

  .lineno {
    color: $default-tint;
    padding: 0 0.75rem 0 0.25rem;
    // Make sure numbers aren't selectable
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }
}

.copy-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: $default-shade;
  color: $white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 12px;
  z-index: 2;
  transition: background-color 0.3s;
}
.copy-btn.copied {
  background-color: $green;
  box-shadow: 0px 0px 5px 0px rgba(34,60,80,.8) inset;
}

kbd {
  white-space: nowrap;
  font-family: inherit;
  font-weight: 400;
  font-style: normal;
  padding: 1px 4px;
  color: #777;
  background-color: #fff;
  border: solid 1px #d9d9d9;
  border-radius: 3px;
  box-shadow: 0 1px 0 0 #ccc;
}
