@font-face {
  font-family: 'VertogradUnicode';
  src: url('/fonts/VertogradUnicode.woff2') format('woff2'),
       url('/fonts/VertogradUnicode.woff') format('woff'),
       url('/fonts/VertogradUnicode.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}