@font-face {
  font-family: 'IndictionUnicode';
  src: url('/fonts/IndictionUnicode.woff2') format('woff2'),
       url('/fonts/IndictionUnicode.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}