.container {
  margin: 0 auto;
  max-width: 800px;
  width: 80%;
}

main,
footer {
  display: block;
  margin: 0 auto;
  max-width: 800px;
  width: 80%;
}

.banner img {
  width: 100%;
  height: auto;
  margin: 0;
}

$content-width: 1000px;
$breakpoint: 799px;
$nav-height: 70px;
$nav-background: #262626;
$nav-font-color: #ffffff;
$link-hover-color: #2581DC;


.navigation {
  height: $nav-height;
  background: $nav-background;
  box-shadow: inset 0px 60px 61px -48px rgba(0,0,0,0.4), 0 5px 30px #000;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 3;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  -moz-transform: translate3d(0px, 0px, 0px);
  -ms-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate3d(0px, 0px, 0px);
}


.brand {
  position: absolute;
  padding-left: 20px;
  float: left;
  line-height: $nav-height;
  text-transform: uppercase;
  font-size: 1.4em;

  a,
  a:visited {
    color: $nav-font-color;
    text-decoration: none;
  }
}


.nav-container {
  max-width: $content-width;
  margin: 0 auto;
}


nav {
  float: right;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      float: left;
      position: relative;

      a,
      a:visited {
        display: block;
        padding: 0 20px;
        line-height: $nav-height;
        background: $nav-background;
        color: $nav-font-color;
        text-decoration: none;

        &:hover {
          background: $link-hover-color;
          color: $nav-font-color;
        }

        &:not(:only-child):after {
          padding-left: 4px;
          content: ' ▾';
        }
      }

      /* Dropdown list*/
      ul li {
        min-width: 190px;

        a {
          padding: 15px;
          line-height: 20px;
        }
      }
    }
  }
}


.nav-dropdown {
  position: absolute;
  display: none;
  z-index: 1;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
}

.nav-mobile {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  /*background: $nav-background;*/
  height: $nav-height;
  width: $nav-height;
  
  z-index:1;
}

@media only screen and (max-width: 798px) {
  .nav-mobile {
    display: block;
  }

  nav {
    width: 100%;
    /*padding: $nav-height 0 15px;*/

    ul {
      display: none;

      li {
        float: none;

        a {
          padding: 15px;
          line-height: 20px;
        }

        ul li a {
          padding-left: 30px;
        }
      }
    }
  }

  .nav-dropdown {
    position: static;
  }
  .navigation {
     background:transparent;
     box-shadow:none;
   }
}

@media screen and (min-width: $breakpoint) {
  .nav-list {
    display: block !important;
  }
}

#nav-toggle {
  position: absolute;
  left: 18px;
  top: 22px;
  cursor: pointer;
  padding: 10px 35px 16px 0px;

  span,
  span:before,
  span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 5px;
    width: 35px;
    background: $nav-font-color;
    position: absolute;
    display: block;
    content: '';
    transition: all 300ms ease-in-out;
  }

  span:before {
    top: -10px;
  }

  span:after {
    bottom: -10px;
  }

  &.active span {
    background-color: transparent;

    &:before,
    &:after {
      top: 0;
    }

    &:before {
      transform: rotate(45deg);
    }

    &:after {
      transform: rotate(-45deg);
    }
  }
}

/* Скрытие навигации при сроллировании */

.navigation.visible-scroll-up {
  transform: translate3d(0px, 100%, 0px);
  -webkit-transform: translate3d(0px, 100%, 0px);
  -moz-transform: translate3d(0px, 100%, 0px);
  -ms-transform: translate3d(0px, 100%, 0px);
  -o-transform: translate3d(0px, 100%, 0px);
}

.navigation.fixed-menu {
  position: fixed;
  top: -70px;
  transition: transform 0.3s ease 0s;
  -webkit-transition: transform 0.3s ease 0s;
  -moz-transition: transform 0.3s ease 0s;
  -ms-transition: transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s;
}

footer {
  font-family: $serif-secondary;
  padding: 2rem 0;
  text-align: center;

  span {
    color: $default-color;
    font-size: .8rem;
  }
}
