.container {
  margin: 0 auto;
  max-width: 800px;
  width: 90%;
}

main,
footer {
  display: block;
  margin: 0 auto;
  max-width: 800px;
  width: 90%;
}

.largo main,
.largo footer {
  max-width: 1200px;
}

.banner img {
  width: 100%;
  height: auto;
  margin: 0;
}

.navigation {
  font-family: $serif-primary;
  height: $nav-height;
  background: $nav-background;
  box-shadow: 0 5px 30px #000;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 3;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  -moz-transform: translate3d(0px, 0px, 0px);
  -ms-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate3d(0px, 0px, 0px);
}

.brand {
  position: absolute;
  padding-left: 20px;
  float: left;
  line-height: $nav-height;
  font-size: 1.3em;

  a,
  a:visited {
    color: $nav-font-color;
    text-decoration: none;
  }
}

.nav-container {
  max-width: $content-width;
  margin: 0 auto;
}

nav {
  float: right;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      float: left;
      position: relative;

      a,
      a:visited {
        font-size: 16px;
        display: block;
        padding: 0 20px;
        line-height: $nav-height;
        background: $nav-background;
        color: $nav-font-color;
        text-decoration: none;
        transition: background-color 0.25s ease-in-out;

        &:hover {
          background: $link-hover-color;
          color: $nav-font-color;
        }

        &:not(:only-child):after {
          padding-left: 4px;
          content: " ▾";
        }
      }

      /* Dropdown list*/
      ul li {
        min-width: 190px;

        a {
          padding: 15px;
          line-height: 20px;
        }
      }
    }
  }
}

.nav-dropdown {
  position: absolute;
  display: none;
  z-index: 1;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
}

.nav-mobile {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  /*background: $nav-background;*/
  height: $nav-height;
  width: $nav-height;

  z-index: 1;
}

@media only screen and (max-width: 798px) {
  .nav-mobile {
    display: block;
  }

  nav {
    width: 100%;
    /*padding: $nav-height 0 15px;*/

    ul {
      display: none;

      li {
        float: none;
        /* Фон li для исключения просвета, образовавшегося из-за отступа */
        background: #262626;

        a {
          padding: 15px;
          line-height: 20px;
        }

        ul li a {
          padding-left: 30px;
        }
        /* Отступ первого эл-та li для выравнивания с гамбургером */
        &:first-child {
          padding-top: 9px;
        }
      }
    }
  }

  .nav-dropdown {
    position: static;
  }
  .navigation {
    background: transparent;
    box-shadow: none;
  }
}

@media screen and (min-width: $breakpoint) {
  .nav-list {
    display: block !important;
  }
}

#nav-toggle {
  position: absolute;
  left: 18px;
  top: 22px;
  cursor: pointer;
  padding: 10px 35px 16px 0px;

  span,
  span:before,
  span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 5px;
    width: 35px;
    background: $nav-font-color;
    position: absolute;
    display: block;
    content: "";
    transition: all 300ms ease-in-out;
  }

  span:before {
    top: -10px;
  }

  span:after {
    bottom: -10px;
  }

  &.active span {
    background-color: transparent;

    &:before,
    &:after {
      top: 0;
    }

    &:before {
      transform: rotate(45deg);
    }

    &:after {
      transform: rotate(-45deg);
    }
  }
}

.navigation.visible-scroll-up {
  transform: translate3d(0px, 100%, 0px);
  -webkit-transform: translate3d(0px, 100%, 0px);
  -moz-transform: translate3d(0px, 100%, 0px);
  -ms-transform: translate3d(0px, 100%, 0px);
  -o-transform: translate3d(0px, 100%, 0px);
}

.navigation.fixed-menu {
  position: fixed;
  top: -70px;
  transition: transform 0.3s ease 0s;
  -webkit-transition: transform 0.3s ease 0s;
  -moz-transition: transform 0.3s ease 0s;
  -ms-transition: transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s;
}

footer {
  font-family: $serif-secondary;
  padding: 2rem 0;
  text-align: center;

  span {
    color: $default-color;
    font-size: 0.8rem;
  }
}

#fortuna {
  margin: 30px 0;
  text-shadow: none;
}
#frame {
  width: 500px;
  margin: 0 auto;
  height: 370px;
  background: LightGreen;
  border-width: 20px;
  border-style: solid;
  border-color: #36a066 #3cb371 #44c980 #3cb371;
  box-sizing: border-box;
  box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.6), 0 5px 2px rgba(0, 0, 0, 0.1), 0 10px 20px rgba(0, 0, 0, 0.8);
  position: relative;
  overflow: hidden;
}
#pappagallo {
  width: 223px;
  height: 314px;
  background-image: url(../assets/pappagallo.png);
  position: absolute;
  right: 20px;
  bottom: 15px;
  transform-origin: 49% 68.5%;
  transition: 1s;
}
.rt {
  transform: rotate(-60deg);
}
#trespolo {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  position: absolute;
  right: 127px;
  bottom: 107px;
  border: 1px solid #505050;
  background: rgb(100, 100, 100) radial-gradient(circle at 50% 0, rgba(255, 255, 255, 0.65), rgba(255, 255, 255, 0.35));
  box-shadow: inset rgba(0, 0, 0, 0.6) 0 -3px 8px, inset rgba(252, 255, 255, 0.7) 0 3px 8px,
    rgba(0, 0, 0, 0.8) 0 3px 8px -3px;
}
#cassettina {
  width: 200px;
  height: 125px;
  position: absolute;
  right: 190px;
  bottom: 5px;
  background-color: Chocolate;
  border: 5px solid Peru;
  border-radius: 0 0 15px 15px;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
#biglietto {
  width: 110px;
  height: 50px;
  position: relative;
  margin-left: -70px;
  margin-top: 72px;
  color: #fff;
  background-color: LimeGreen;
  border-radius: 3px;
  box-sizing: border-box;
  display: none;
  transform: rotate(-5deg);
  &::after {
    content: "";
    position: absolute;
    right: 3.5px;
    top: -2px;
    border: 3.5px solid transparent;
    border-top: 11px solid #010000;
    transform: rotate(-28deg);
  }
}
#biglietto-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font: 14px Times, Times New Roman, serif;
  line-height: 12px;
  text-align: center;
  padding:5px;
  width: 100%;
}
.fbtn {
  cursor: pointer;
  border-radius: 5px;
  text-decoration: none;
  padding: 10px;
  font-size: 22px;
  transition: 0.3s;
  display: inline-block;
  background: transparent;
  color: #3cb371;
  border: 2px #3cb371 solid;
  &:hover {
    color: #fff;
    background-color: #3cb371;
  }
}
.button {
  text-align: center;
  margin-top: 25px;
  background: transparent !important;
}
#btn-container {
	display: inline-flex;
	align-items: center;
}
#icon-container {
	margin-left: 10px;
	svg {
		width: 100%;
		height: 100%;
	}
}
#btn-icon {
	display: inline-block;
	width: 50px;
	height: 50px;
	vertical-align: middle;
	cursor: pointer;
}
.smartphone {
  display: none;
  border: 2px solid #000;
  margin-bottom: 28px;
  padding: 15px;
  border-radius: 10px;
  background-color: #fff484;
  border-color: #dcc600;
}
@media only screen and (max-width: 554px) {
  .smartphone {
    display: block;
  }
  #fortuna {
    display: none;
  }
}

/* Сочинения */

.monte_cassino {
  background: url(../assets/Monte_Cassino_View_WWII.jpg) no-repeat center;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-attachment: scroll;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  max-height: 100vh;
  margin-bottom: 30px;
  h2 {
    color: #fff;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.75);
  }
}

.opere .btn_container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.btn {
  text-decoration: none;
  display: inline-block;
  position: relative;
  height: 40px;
  line-height: 40px;
  padding: 0 20px;
  color: white;
  font-family: $serif-secondary;
  font-size: 14px;
  background: $default-shade;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  margin: 2px;
  &:before {
    content: "";
    position: absolute;
    height: 0;
    width: 0;
    top: 0;
    right: 0;
    background: linear-gradient(225deg, #ffffff 45%, #aaaaaa 50%, #cccccc 56%, white 80%);
    box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.4);
    transition: 0.3s;
  }
  &:hover {
    &:before {
      width: 20px;
      height: 20px;
    }
  }
}

.opere {
  p {
    text-indent: 1.5em;
    margin: 0;
  }

  h1, h2, h3, h4 {
    text-align: center;
    clear: both;
  }

  .postilla {
    padding: 10px 0 0;
    font-size: 14px;

    &:before {
      content: "";
      display: block;
      max-width: 192px;
      height: 1px;
      background: $default-shade;
    }
  }

  .scritta {
    text-indent: 0;
    text-align: right;
  }
}

.inn p {
  text-indent: 0;
}

.float_left {
  margin: 10px 40px 30px 0;
  float: left;
}

.float_right {
  margin: 10px 0 30px 40px;
  float: right;
}

@media screen and (max-width: 768px) {
  /* Отменить обтекание */
  .float_left,
  .float_right {
    float: none;
    margin: 0 auto;
  }
}

#columns-container {
  .flex-columns {
    display: flex;
    flex-direction: column;
    margin-bottom: 28px;
    &:last-child {
      margin-bottom: 0;
    }
    .columns {
      display: flex;
      justify-content: space-between;
      margin-left: -20px;
      flex-wrap: wrap;
      /*Для IE*/
      flex: 0 0 auto;
      .column {
        padding-left: 20px;
        margin-bottom: 10px;
        flex: 1 300px;
        h4 {
          text-align: left;
          word-break: break-all;
        }
      }
    }
  }
}

/* Стихи */
.verse_row {
  display: flex;
  justify-content: center;
}

.verse_row {
  p {
    &:after {
      content: "\2767";
      color: #8dc692;
      font-size: 1.5em;
      display: block;
      text-align: center;
    }
  }
}

.verse {
  white-space: pre-wrap;
}

/* Выравнивание audio HTML5 */
#musica {
  display: flex;
  flex-direction: column;
  align-items: center;
  div {
    margin-bottom: 10px;
  }
}

/* Ссылка для скачивания */
#download_row {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.usn {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  img {
    pointer-events: none;
  }
}
@media print {
  .usn {
    display: none;
  }
}
