/* Numerali */

#wrap_num {
  padding: 20px 0;
  box-sizing: border-box;
}
#risultato {
	display: inline-block;
	svg {
		display: inline-block;
		vertical-align: middle;
		width: 20px;
		height: 20px;
	}
	span {
		display: inline-block;
		vertical-align: middle;
		padding-left: 3px;
	}
}
#block-result {
  font-size: 14px;
  margin-bottom: 20px;
}
#next_num {
  margin-left: 3px;
}
#text_num {
  font-size: 4em;
  line-height: normal;
  color: $default-shade;
  text-shadow: 3px 4px 3px rgba(0, 0, 0, 0.5);
  font-weight: bold;
  word-break: break-all;
}
#an_num {
  border: 1px solid #ddd;
  box-sizing: border-box;
  text-indent: 8px;
  width: 100%;
  font-weight: bold;
  font-size: 2em;
  color: #555;
  margin: 30px 0 10px;
  padding: 5px 0;
  transition: all ease-out 0.2s;
  &:focus {
    outline: none;
    border-color: #aaa;
  }
}
#suggerimento {
  display: none;
  transform: rotate(180deg);
  text-align: right;
}

/* Radio buttons */

.domanda {
  background: #efede7;
  margin-bottom: 1em;
  padding: 1em;
  p {
    margin-bottom: 10px;
  }
  label {
    padding: 0.2em  0;
  }
  label.correct {
    background: #8dc692;
    color: #fff;
  }
}
.radio {
  display: block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: left;

  + .radio {
    margin-top: 5px;
  }

  input {
    display: none;

    + span {
      display: inline-block;
      position: relative;
      padding-left: 25px;
      line-height: normal;

      &:before {
        content: "";
        display: block;
        position: absolute;
        top: 0px;
        left: 0px;
        border-radius: 50%;
        margin-right: 5px;
        width: 20px;
        height: 20px;
        border: 1px solid #ccc;
        background: #fff;
        line-height: normal;
      }

      &:after {
        content: "";
        display: block;
        width: 14px;
        height: 14px;
        background: #222;
        position: absolute;
        border-radius: 50%;
        top: 4px;
        left: 4px;
        opacity: 0;
        transform: scale(0, 0);
        transition: all 0.2s cubic-bezier(0.64, 0.57, 0.67, 1.53);
      }
    }

    &:checked + span:after {
      opacity: 1;
      transform: scale(1, 1);
    }
  }
}
.quiz-msg {
  margin-top: 1em;
  padding: 0.5em;
}
.quiz-msg.correct {
  background: #e8ffc6;
}
.quiz-msg.incorrect {
  background: #ffe5cc;
}
.risultati {
  font-size: 14px;
  margin: 10px 0;
}
.quiz-submit {
  display: inline-block;
  cursor: pointer;
  color: #fff;
  padding: 5px 10px;
  background-color: $default-shade;
}
.score {
  display: inline-block;
  padding: 5px;
}

/* Accento */
#accento {
  margin-left: 0;
  margin-bottom: 0;
  padding-left: 0;
  li {
    display: inline-block;
    list-style-type: none;
  }
  input {
    outline: none;
    border: 1px solid #3a3a3a;
    margin: 0 4px 0 2px;
    padding: 0;
    width: 20px;
    height: 20px;
    text-align: center;
    font-weight: bold;
    transition: all ease-out 0.2s;
    background: #fff;
    &:invalid {
      border-color: coral;
      background: coral;
      color: #fff;
    }
    &:valid {
      color: #8dc692;
    }
  }
}
#acc_dacapo {
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
  color: #fff;
  margin: 10px 0;
  padding: 5px 10px;
  background-color: $default-shade;
}

/* Completare */

.questions input[type="text"] {
  display: inline-block;
  font: inherit !important;
  width: 100px;
  height: 20px;
  border: 1px solid #ccc;
  border-width: 0px 0px 1px 0px;
  padding: 0px 5px;
  margin-top: 10px;
  outline: none;
  background-color: #fff;
}
.question {
  margin-bottom: 10px;
}
.corretto {
  background: #8dc692 !important;
  color: #fff !important;
}
.errato {
  background: coral !important;
  color: #fff !important;
}
.block-result {
  font-size: 14px;
  margin: 10px 0;
}
.mostrami,
#btn-mese,
#btn-giorno {
  display: inline-block;
  cursor: pointer;
  color: #fff;
  padding: 5px 10px;
  background-color: $default-shade;
}
.result {
  display: inline-block;
  padding: 5px;
}

/* Mese, giorno */

#wrap_mg {
  margin: 15px 0;
}

#wrap-result {
  font-size: 14px;
}

#risultato-mese, #risultato-giorno {
	display: inline-block;
	svg {
		display: inline-block;
		vertical-align: middle;
		width: 20px;
		height: 20px;
	}
	span {
		display: inline-block;
		vertical-align: middle;
		padding-left: 3px;
	}
}

.evid {
  color: #00bf65;
  font-weight: bold;
}

#search-mese,
#search-giorno {
  box-sizing: border-box;
  font: inherit !important;
  width: 100px;
  border: 1px solid #ddd;
  margin: 10px 0;
  padding: 5px;
  transition: all ease-out 0.2s;
  &:focus {
    outline: none;
    border-color: #aaa;
  }
}

.quiz-submit,
.mostrami,
#btn-mese,
#btn-giorno {
  user-select: none;
  -webkit-user-select: none;
}

@media only screen and (max-width: 479px) {
  #wrap_mg label {
    display: block;
  }
  #questione:last-child {
    margin-top: 15px;
  }
  #risultato-mese,
  #risultato-giorno {
    display: block;
    margin-top: 8px;
    padding-left: 0;
  }
}