.domanda{padding:1em;background:#efede7;margin-bottom:1em;}
.domanda p{margin-bottom:10px;}
.radio{display:block;cursor:pointer;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;text-align:left;}
.radio + .radio{margin-top:5px;}
.radio input{display:none;}
.radio input + span{display:inline-block;position:relative;padding-left:20px;line-height:normal;}
.radio input + span:before{content:'';display:block;position:absolute;top:0px;left:0px;border-radius:50%;margin-right:5px;width:16px;height:16px;border:1px solid #ccc;background:#fff;line-height:normal;}
.radio input + span:after{content:'';display:block;width:10px;height:10px;background:#222;position:absolute;border-radius:50%;top:4px;left:4px;opacity:0;-webkit-transform:scale(0,0);transform:scale(0,0);transition:all 0.2s cubic-bezier(0.64,0.57,0.67,1.53);}
.radio input:checked + span:after{opacity:1;-webkit-transform:scale(1,1);transform:scale(1,1);}
.quiz-msg{padding:0.5em;margin-top:1em;}
.quiz-msg.correct{background:#e8ffc6;}
.quiz-msg.incorrect{background:#ffe5cc;}
label.correct{background:#8dc692;padding:0.2em;color:#fff;margin-left:-0.2em;}
.risultati{font-size:14px;margin:10px 0;}
.quiz-submit,
.score{display:inline-block;padding:5px;}
.quiz-submit{cursor:pointer;color:#fff;width:90px;padding:5px 0;text-align:center;background-color:#3a3a3a;}
