<div class="fixedActionPanel">

  <button class="fixedActionPanel-toggle">
    <span>❯</span>
  </button>

  {% if page.togglePianoButton %}
    {% include settings/togglePianoButton.html %}
  {% endif %}

  {% if page.togglePageButton %}
    {% include settings/togglePageButton.html %}
  {% endif %}

  {% if page.viewPaintingButton %}
    {% include settings/viewPaintingButton.html %}
  {% endif %}

  {% if page.settingButton %}
    {% include settings/settingButton.html %}
  {% endif %}

</div>