<div id="piano">
  <div class="white-keys">
    <div class="white" data-note="c"></div>
    <div class="white" data-note="d"></div>
    <div class="white" data-note="e"></div>
    <div class="white" data-note="fa"></div>
    <div class="white" data-note="g"></div>
    <div class="white" data-note="a"></div>
    <div class="white" data-note="h"></div>
    <div class="white" data-note="c2"></div>
    <div class="white" data-note="d2"></div>
    <div class="white" data-note="e2"></div>
  </div>
  <div class="black-keys">
    <div class="black b1" data-note="cis"></div>
    <div class="black b2" data-note="dis"></div>
    <div class="black b3" data-note="fis"></div>
    <div class="black b4" data-note="gis"></div>
    <div class="black b5" data-note="b"></div>
    <div class="black b6" data-note="cis2"></div>
    <div class="black b7" data-note="dis2"></div>
  </div>
</div>