<div class="settings-header">
  <div class="settings-title">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="settings-icon">
      <path fill="none" stroke="currentColor" d="M8.5 19a3.5 3.5 0 1 1-7 0a3.5 3.5 0 0 1 7 0Zm0 0V5.5a25.5 25.5 0 0 0 12.817-3.457l.933-.543h.25v3.85m0 11.65a3.5 3.5 0 1 1-7 0a3.5 3.5 0 0 1 7 0Zm0 0V5.35M8.5 9.5a25.5 25.5 0 0 0 12.817-3.457l.933-.543l.25-.15" stroke-width="1">
      </path>
    </svg>
    </svg>Настройки</div>
  <div class="settings-close">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
      <path fill="currentColor" d="M6.225 4.811a1 1 0 0 0-1.414 1.414L10.586 12L4.81 17.775a1 1 0 1 0 1.414 1.414L12 13.414l5.775 5.775a1 1 0 0 0 1.414-1.414L13.414 12l5.775-5.775a1 1 0 0 0-1.414-1.414L12 10.586z" />
    </svg>
  </div>
</div>
<div class="panel-item range">
  <label>Задержка</label>
  <input type="range" id="delayControl" class="intervalli-range" min="200" max="2000" step="100" value="1000">
  <div class="intervalli-slider-value">
    <span id="delayValue">1500</span><span>мс</span>
  </div>
</div>