---
layout: compress
---

<!DOCTYPE html>
<html>

{% include head.html %}

<body class="{% if page.bodyClass %}{{ page.bodyClass }}{% endif %}">

  {% include navigation.html %}

  {% unless page.exclude_banner %}
  {% include banner.html %}
  {% else %}
  <style>
    @media (min-width: 798px) {
      .page-title {
        margin-top: {{ page.header_margin_top }};
      }
    }
  </style>
  {% endunless %}

  <main class="{% if page.mainClass %}{{ page.mainClass }}{% endif %}">
    {{ content }}
  </main>

  {% include lightbox.html %}

  {% include footer.html %}

  {% unless page.exclude_frasario or site.exclude_frasario %}
  {% include frasario.html %}
  {% endunless %}

  {% if page.about-bg %}
  {% include about-bg.html %}
  {% endif %}

  {% if page.settings_panel %}
  {% include settings/panel.html %}
  {% endif %}

  {% if page.togglePianoButton %}
  {% include settings/togglePianoButton.html %}
  {% endif %}

  {% if page.piano %}
  {% include settings/piano.html %}
  {% endif %}

  <div id="tooltip"></div>

  {% if page.footer_image %}
  <picture class="footer-image">
    <source media="(max-width: 480px)" srcset="/assets/footer-mobile.webp">
    <source media="(max-width: 768px)" srcset="/assets/footer-tablet.webp">
    <img src="/assets/footer-desktop.webp" alt="">
  </picture>
  {% endif %}

  {% if page.indice-bg %}
  <picture class="indice-bg">
    <source media="(max-width: 767px)" srcset="/assets/indice-mobile.webp">
    <source media="(max-width: 1199px)" srcset="/assets/indice-tablet.webp">
    <img src="/assets/indice-desktop.webp" alt="">
  </picture>
  {% endif %}

  <script type="text/javascript" src="{{ site.baseurl }}/assets/js/jquery-3.7.1.min.js"></script>
  <script type="text/javascript" src="{{ site.baseurl }}/assets/js/jquery-ui.min.js"></script>
  <script src="{{ site.baseurl }}/assets/js/script.js?v={{ site.time | date: '%s' }}"></script>

</body>

</html>