---
layout: default
---

<div class="post">
  <div class="post-info">
    <span>Автор</span>
    {% if page.author %}
        {{ page.author }}
    {% else %}
        {{ site.author.name }}
    {% endif %}

    {% if page.date %}
    <br>
    <time>
      {% assign months = "Январь|Февраль|Март|Апрель|Май|Июнь|Июль|Август|Сентябрь|Октябрь|Ноябрь|Декабрь" | split: "|" %}
      {% assign m = page.date | date: "%-m" | minus: 1 %}
      {% assign day = page.date | date: "%d" %}
      {% assign month = months[m] %}
      {% assign year = page.date | date: "%Y" %}
      <span>{{ day }}/{{ month }}/{{ year }}</span>
    </time>
    {% endif %}

    {% if page.tags %}
    <br>
    <div class="tags-container" data-nosnippet>
      <div>Теги:</div>
      <div class="tags-clouds">
        {% for tag in page.tags %}
          <a href="{{ site.baseurl }}/tags/#{{ tag | slugify }}">{{ tag }}</a>
        {% endfor %}
      </div>
    </div>
   {% endif %}
  </div>

  <h1 class="post-title">{{ page.title }}</h1>
  <div class="post-line"></div>

  {{ content }}

  {% if page.tags %}
    <br>
    <div class="tags-container" data-nosnippet>
      <div class="tags-title">Теги:</div>
      <div class="tags-clouds">
        {% for tag in page.tags %}
          <a href="{{ site.baseurl }}/tags/#{{ tag | slugify }}">{{ tag }}</a>
        {% endfor %}
      </div>
    </div>
   {% endif %}
</div>

{% if page.comments %}
  {% include disqus_comments.html %}
{% endif %}

<div class="pagination">
  {% if page.next.url %}
    <a href="{{ page.next.url | prepend: site.baseurl }}" class="left arrow">&#8592;</a>
  {% endif %}
  {% if page.previous.url %}
    <a href="{{ page.previous.url | prepend: site.baseurl }}" class="right arrow">&#8594;</a>
  {% endif %}
</div>