---
layout: default
---

<div class="post">
  <div class="post-info">
    <span>Автор</span>

    {% if page.author %}
    {{ page.author }}
    {% else %}
    {{ site.author.name }}
    {% endif %}

    {% if page.date %}
    <br>
    <time datetime="{{ page.date | date: '%Y-%m-%d' }}">
      {% assign months = site.months | default:
      "января|февраля|марта|апреля|мая|июня|июля|августа|сентября|октября|ноября|декабря" | split: "|" %}
      {% assign m = page.date | date: "%-m" | minus: 1 %}
      {% assign day = page.date | date: "%d" | plus: 0 %}
      {{ day }} {{ months[m] }} {{ page.date | date: '%Y' }} года
    </time>

    {% endif %}

    {% if page.tags and page.tags.size > 0 %}
    {% assign tag_count = page.tags | size %}
    <div class="tags-container">
      {% if tag_count == 1 %}
      <div>Тег:</div>
      {% else %}
      <div>Теги:</div>
      {% endif %}
      <div class="tags-clouds">
        {% for tag in page.tags %}
        <a href="{{ site.baseurl }}/tags/#{{ tag | slugify }}">
          {{ tag | replace: '-', ' ' }}
        </a>
        {% endfor %}
      </div>
    </div>
    {% endif %}

    {% if page.categories and page.categories.size > 0 %}
    {% assign category_count = page.categories | size %}
    <div class="categories-container">
      {% if category_count == 1 %}
      <div>Категория:</div>
      {% else %}
      <div>Категории:</div>
      {% endif %}
      <div class="categories-clouds">
        {% for category in page.categories %}
        <a href="{{ site.baseurl }}/categories/#{{ category | slugify }}">{{ category }}</a>
        {% endfor %}
      </div>
    </div>
    {% endif %}
  </div>

  <h1 class="post-title">{{ page.title }}</h1>
  <div class="post-line"></div>

  {{ content }}

  {% if page.tags and page.tags.size > 0 %}
  {% assign tag_count = page.tags | size %}
  <div class="tags-container" data-nosnippet>
    <div class="tags-title">
      {% if tag_count == 1 %}
      Тег:
      {% else %}
      Теги:
      {% endif %}
    </div>
    <div class="tags-clouds">
      {% for tag in page.tags %}
      <a href="{{ site.baseurl }}/tags/#{{ tag | slugify }}">
        {{ tag | replace: '-', ' ' }}
      </a>
      {% endfor %}
    </div>
  </div>
  {% endif %}

  {% if page.categories and page.categories.size > 0 %}
  {% assign category_count = page.categories | size %}
  <div class="categories-container" data-nosnippet>
    <div class="categories-title">
      {% if category_count == 1 %}
      Категория:
      {% else %}
      Категории:
      {% endif %}
    </div>
    <div class="categories-clouds">
      {% for category in page.categories %}
      <a href="{{ site.baseurl }}/categories/#{{ category | slugify }}">{{ category }}</a>
      {% endfor %}
    </div>
  </div>
  {% endif %}
</div>

<div class="pagination">
  {% if page.next.url %}
  <a href="{{ page.next.url | prepend: site.baseurl }}" title="{{ page.next.title }}">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><g fill="none">
      <path d="M24 0v24H0V0zM12.593 23.258l-.011.002-.071.035-.02.004-.014-.004-.071-.035q-.016-.005-.024.005l-.004.01-.017.428.005.02.01.013.104.074.015.004.012-.004.104-.074.012-.016.004-.017-.017-.427q-.004-.016-.017-.018m.265-.113-.013.002-.185.093-.01.01-.003.011.018.43.005.012.008.007.201.093q.019.005.029-.008l.004-.014-.034-.614q-.005-.019-.02-.022m-.715.002a.02.02 0 0 0-.027.006l-.006.014-.034.614q.001.018.017.024l.015-.002.201-.093.01-.008.004-.011.017-.43-.003-.012-.01-.01z"/>
      <path fill="currentColor" d="M3.283 10.94a1.5 1.5 0 0 0 0 2.12l5.656 5.658a1.5 1.5 0 1 0 2.122-2.122L7.965 13.5H19.5a1.5 1.5 0 0 0 0-3H7.965l3.096-3.096a1.5 1.5 0 1 0-2.122-2.121z"/></g>
    </svg>
  </a>
  {% endif %}
  {% if page.previous.url %}
  <a href="{{ page.previous.url | prepend: site.baseurl }}" title="{{ page.previous.title }}">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><g fill="none">
      <path d="M24 0v24H0V0zM12.593 23.258l-.011.002-.071.035-.02.004-.014-.004-.071-.035q-.016-.005-.024.005l-.004.01-.017.428.005.02.01.013.104.074.015.004.012-.004.104-.074.012-.016.004-.017-.017-.427q-.004-.016-.017-.018m.265-.113-.013.002-.185.093-.01.01-.003.011.018.43.005.012.008.007.201.093q.019.005.029-.008l.004-.014-.034-.614q-.005-.019-.02-.022m-.715.002a.02.02 0 0 0-.027.006l-.006.014-.034.614q.001.018.017.024l.015-.002.201-.093.01-.008.004-.011.017-.43-.003-.012-.01-.01z"/>
      <path fill="currentColor" d="m15.06 5.283 5.657 5.657a1.5 1.5 0 0 1 0 2.12l-5.656 5.658a1.5 1.5 0 0 1-2.122-2.122l3.096-3.096H4.5a1.5 1.5 0 0 1 0-3h11.535L12.94 7.404a1.5 1.5 0 0 1 2.122-2.121Z"/></g>
    </svg>
  </a>
  {% endif %}
</div>